.mainContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    align-items: center;
    justify-items: center;
}

.filtro {
    margin-top: 3em;
    width: 100%;
  }
  
.tabla {
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .example-full-width {
      width: 20em;
  }

  .XDDDDD {
    font-size: 3em;
}

.titulo {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
}

.tableContainer {
    height: 50%;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}