<div class="mainContainer">
    <span>Crear habitación</span>
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Número habitacion</mat-label>
            <input type="number" matInput [formControl]="numeroHabitacion" placeholder="Ex. 0" [errorStateMatcher]="matcher">
            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            <mat-error *ngIf="numeroHabitacion.hasError('maxlength') || numeroHabitacion.hasError('minlength') || numeroHabitacion.hasError('pattern')">
              Ingrese un <strong>Número de habitación</strong> válida
            </mat-error>
            <mat-error *ngIf="numeroHabitacion.hasError('required')">
              Ingrese la <strong>Número de habitación</strong>
            </mat-error>
          </mat-form-field>
        </form>
  
        <mat-form-field appearance="fill" class="example-form">
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food">
                {{food}}
              </mat-option>
            </mat-select>
        </mat-form-field>
  
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Precio</mat-label>
              <input type="number" matInput [formControl]="precio" placeholder="Ex. 88888888" [errorStateMatcher]="matcher">
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <mat-error *ngIf="precio.hasError('pattern')">
                Ingrese un <strong>Precio</strong> válido
              </mat-error>
              <mat-error *ngIf="precio.hasError('required')">
                Ingrese el  <strong>Precio</strong> de la habitación
              </mat-error>
            </mat-form-field>
          </form>
    

            <mat-form-field class="example-full-width">
              <mat-label>Descripción</mat-label>
              <textarea type="text" matInput placeholder="Ex. uuuuuuu"></textarea>
            </mat-form-field>

          <button mat-flat-button color="primary">Aceptar</button>
    </div>