<div class="mainContainer">
    <div class="cardContainer">
        <mat-card>
            <mat-card-header class="cardHeader">
                <mat-card-title>Ingresar</mat-card-title>
            </mat-card-header>
            <mat-card-content class="Container">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Correo electrónico</mat-label>
                      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" [errorStateMatcher]="matcher">
                      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Porfavor ingrese su <strong>correo electrónico</strong>
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        El correo electrónico es <strong>necesario</strong>
                      </mat-error>
                    </mat-form-field>
                  </form>
                  <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Contraseña</mat-label>
                      <input type="text" matInput [formControl]="passControl" placeholder="Ex. *******">
                      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                      <mat-error *ngIf="passControl.hasError('maxlength') && !passControl.hasError('required')">
                        Exedio el tamaño <strong>máximo</strong>
                      </mat-error>
                      <mat-error *ngIf="passControl.hasError('minlength') && !passControl.hasError('required')">
                        No cumple con el tamaño <strong>mínimo</strong>
                      </mat-error>
                      <mat-error *ngIf="passControl.hasError('required')">
                        Ingrese su <strong>contraseña</strong>
                      </mat-error>
                    </mat-form-field>
                  </form>
            </mat-card-content>
            <mat-card-actions class="cardAction">
              <button mat-flat-button color="primary" class="aceptar">Aceptar</button>
              <a>Registrar</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>