.mainContainer {
    position: absolute;
    top: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3em;
    align-items: center;
    justify-items: center;
}
.cardContainer {
    width: 30%;
}

.cardHeader {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2em;
    padding: 3em;
}

.Container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: center;
    justify-items: center;
    gap: 2em;
}

.example-full-width {
    width: 30em;
}

.cardAction {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: center;
    justify-items: center;
    gap: 2em;
}

.aceptar {
    width: 10em;
}