<div class="mainContainer">
    <div class="conte">
        <strong>Cliente</strong>
        {{data}}
    </div>
    <div class="conte">
        <strong>Entrada</strong>
        {{data}}
    </div>
    <div class="conte">
        <div><strong>Salida</strong></div>
        <div>{{data}}</div>
    </div>
    <div class="conte">
        <strong>Hotel</strong>
        {{data}}
    </div>
    <div class="conte">
        <strong>Habitaciones</strong>
        {{data}}
    </div>
    <div class="conte">
        <strong>Huespedes</strong>
        {{data}}
    </div>
    <div class="conte">
        <strong>Total</strong>
        {{data}}
    </div>
    <button mat-flat-button color="primary" class="tablaBotones" (click)="cancelar()">Cerrar</button>
</div>
