<div class="mainContainer">
    <div class="conte">
        <strong>Cédula Júridica</strong>
        {{infoHotel.cedulaJuridica}}
    </div>
    <div class="conte">
        <strong>Nombre</strong>
        {{infoHotel.nombre}}
    </div>
    <div class="conte">
        <div><strong>Teléfono</strong></div>
        <div>{{infoHotel.telefono}}</div>
    </div>
    <div class="conte">
        <strong>Sitio Web</strong>
        {{infoHotel.sitioWeb}}
    </div>
    <div class="conte">
        <strong>Correo Electrónico</strong>
        {{infoHotel.correoElectronico}}
    </div>
    <div class="conte">
        <strong>Pet Friendly</strong>
        {{infoHotel.petFriendly == true? 'Sí' : 'No'}}
    </div>
    <div class="conte">
        <strong>Ley 7600</strong>
        {{infoHotel.ley7600 == true? 'Sí' : 'No'}}
    </div>
    <button mat-flat-button color="primary" class="tablaBotones" (click)="cancelar()">Cerrar</button>
</div>
<div class="mainContainer">
    <div class="conte">
        <strong>Gps</strong>
        {{infoHotel.direccion.gps}}
    </div>
    <div class="conte">
        <strong>Provincia</strong>
        {{infoHotel.direccion.provincia}}
    </div>
    <div class="conte">
        <div><strong>Canton</strong></div>
        <div>{{infoHotel.direccion.canton}}</div>
    </div>
    <div class="conte">
        <strong>Distrito</strong>
        {{infoHotel.direccion.distrito}}
    </div>
    <div class="conte">
        <strong>Señas</strong>
        {{infoHotel.direccion.senasExactas}}
    </div>
</div>

<div class="mainContainer">
    <div class="conte">
        <strong>Lunes</strong>
        {{infoHotel.horario.lunes}}
    </div>
    <div class="conte">
        <strong>Martes</strong>
        {{infoHotel.horario.martes}}
    </div>
    <div class="conte">
        <div><strong>Miercoles</strong></div>
        <div>{{infoHotel.horario.miercoles}}</div>
    </div>
    <div class="conte">
        <strong>Jueves</strong>
        {{infoHotel.horario.jueves}}
    </div>
    <div class="conte">
        <strong>Viernes</strong>
        {{infoHotel.horario.sabado}}
    </div>
    <div class="conte">
        <strong>Sabado</strong>
        {{infoHotel.horario.sabado}}
    </div>
    <div class="conte">
        <strong>Domingo</strong>
        {{infoHotel.horario.domingo}}
    </div>
</div>

<div class="redesSociales">
    <div class="tableContainer">
      <div class="titulo">
        <span class="titulo2">Redes Sociales</span>
      </div>
      <table mat-table [dataSource]="redesSociles" class="mat-elevation-z8 tabla">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> URL </th>
            <td mat-cell *matCellDef="let element"> {{element.url}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="redesSocialesColumnas"></tr>
          <tr mat-row *matRowDef="let row; columns: redesSocialesColumnas;"></tr>
        </table>
  </div>

  <div class="tableContainer">
    <div class="titulo">
      <span class="titulo2">Idiomas</span>
    </div>
    <table mat-table [dataSource]="idioma" class="mat-elevation-z8 tabla">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="tablaIdioma"></tr>
        <tr mat-row *matRowDef="let row; columns: tablaIdioma;"></tr>
      </table>
</div>