<div class="mainContainer">
    <div class="conte">
        <strong>Cédula Júridica</strong>
        {{data}}
    </div>
    <div class="conte">
        <strong>Nombre</strong>
        {{data}}
    </div>
    <div class="conte">
        <div><strong>Teléfono</strong></div>
        <div>{{data}}</div>
    </div>
    <div class="conte">
        <strong>Correo Electrónico</strong>
        {{data}}
    </div>
    <button mat-flat-button color="primary" class="tablaBotones" (click)="cancelar()">Cerrar</button>
</div>
