.mainContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
    align-items: center;
    justify-items: center;
}

.titulo {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
}

.direcciones {
    width: 100%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
    align-items: center;
    justify-items: center;
}

.redesSociales {
    width: 100%;
    height: 20%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    align-items: center;
    justify-items: center;
}

.redSocial {
    width: 100%;
    display: grid;
    margin-top: 1%;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    align-items: center;
    justify-items: center;
}

.idiomas {
    
}

.tabla {
    width: 100%;
}

.tableContainer {
    margin-top: 2%;
    width: 100%;
    height: 25em;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .example-full-width {
      width: 20em;
  }

  .example-full-width2 {
    width: 15em;
}

  span {
      font-size: 3em;
  }

.titulo2 {
    font-size: 2em;
}