<div class="mainContainer">
    <div class="conte">
        <strong>Número habitación</strong>
        {{data}}
    </div>
    <div class="conte">
        <strong>Categoría</strong>
        {{data}}
    </div>
    <div class="conte">
        <div><strong>Precio</strong></div>
        <div>{{data}}</div>
    </div>
    <div class="conte">
        <strong>Descripción</strong>
        <p>{{data}}</p>
    </div>
    <button mat-flat-button color="primary" class="tablaBotones" (click)="cancelar()">Cerrar</button>
</div>