<div class="mainContainer">
    <div class="conte">
        <strong>Número habitación</strong>
        {{data.numeroHabitacion}}
    </div>
    <div class="conte">
        <strong>Categoría</strong>
        {{data.categoria}}
    </div>
    <div class="conte">
        <div><strong>Precio</strong></div>
        <div>{{data.precio}}</div>
    </div>
    <div class="conte">
        <strong>Descripción</strong>
        <p>{{data.descripcion}}</p>
    </div>
    <div class="conte">
        <strong>Imagen</strong>
        <p>{{data.multimedia}}</p>
    </div>
    <button mat-flat-button color="primary" class="tablaBotones" (click)="cancelar()">Cerrar</button>
</div>