<div class="titulo">
    <span class="XDDDDD">Crear habitación</span>
  </div>
  <div class="filtro">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Hotel</mat-label>
        <input type="text" matInput [formControl]="hotel2" placeholder="Ex. Hotel" [errorStateMatcher]="matcher">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error *ngIf="hotel2.hasError('maxlength') || hotel2.hasError('minlength')">
          Exedio el tamaño <strong>Permitido</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-flat-button color="primary" class="tablaBotones2" (click)="verHoteles()"><mat-icon>search</mat-icon></button>
  </div>
  <div class="tableContainer">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="cedula">
          <th mat-header-cell *matHeaderCellDef> Cédula Jurídica </th>
          <td mat-cell *matCellDef="let element" (click)="clickHotel(element.nombre,element.idHotel)"> {{element.cedulaJuridica}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element" (click)="clickHotel(element.nombre,element.idHotel)"> {{element.nombre}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef> Contacto </th>
          <td mat-cell *matCellDef="let element" (click)="clickHotel(element.nombre,element.idHotel)"> {{element.contacto}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
  <div class="mainContainer">
  
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Empresa</mat-label>
        <input type="text" matInput [formControl]="hotel" placeholder="Ex. 0" [errorStateMatcher]="matcher">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error *ngIf="hotel.hasError('maxlength') || hotel.hasError('minlength') || hotel.hasError('pattern')">
          Ingrese un <strong>Número de habitación</strong> válida
        </mat-error>
        <mat-error *ngIf="hotel.hasError('required')">
          Escoja el <strong>Hotel</strong>
        </mat-error>
      </mat-form-field>
    </form>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput [formControl]="nombre" placeholder="Ex. XD" [errorStateMatcher]="matcher">
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
          <mat-error *ngIf="nombre.hasError('maxlength') || nombre.hasError('minlength') || nombre.hasError('pattern')">
            Ingrese el <strong>Nombre</strong>
          </mat-error>
          <mat-error *ngIf="nombre.hasError('required')">
            Ingrese el <strong>Nombre</strong>
          </mat-error>
        </mat-form-field>
      </form>
  
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Riesgo</mat-label>
              <input type="number" matInput [formControl]="riesgo" placeholder="Ex. 0" [errorStateMatcher]="matcher">
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <mat-error *ngIf="riesgo.hasError('maxlength') || riesgo.hasError('minlength') || riesgo.hasError('pattern')">
                Ingrese el <strong>Riesgo</strong>
              </mat-error>
              <mat-error *ngIf="riesgo.hasError('required')">
                Ingrese el <strong>Riesgo</strong>
              </mat-error>
            </mat-form-field>
          </form>
    
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Edad mínima</mat-label>
              <input type="number" matInput [formControl]="edadMin" placeholder="Ex. 88888888" [errorStateMatcher]="matcher">
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <mat-error *ngIf="edadMin.hasError('maxlength') || edadMin.hasError('minlength')">
                Ingrese la <strong>Edad mínima</strong> válida
              </mat-error>
              <mat-error *ngIf="edadMin.hasError('required')">
                Ingrese la  <strong>Edad mínima</strong> de la actividad
              </mat-error>
            </mat-form-field>
          </form>
    
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Edad máxima</mat-label>
                <input type="number" matInput [formControl]="edadMax" placeholder="Ex. 88888888" [errorStateMatcher]="matcher">
                <mat-error *ngIf="edadMax.hasError('maxlength') || edadMax.hasError('minlength')">
                  Ingrese un <strong>Precio</strong> válido
                </mat-error>
                <mat-error *ngIf="edadMax.hasError('required')">
                  Ingrese el  <strong>Precio</strong> de la habitación
                </mat-error>
              </mat-form-field>
            </form>
      
  
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Descripción</mat-label>
                <textarea type="text" matInput [formControl]="descripcion" placeholder="Ex. XDDDDD" [errorStateMatcher]="matcher"></textarea>
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                <mat-error *ngIf="descripcion.hasError('maxlength') || descripcion.hasError('minlength')">
                  Ingrese una <strong>Descripción</strong> valida
                </mat-error>
                <mat-error *ngIf="descripcion.hasError('required')">
                  Ingrese a  <strong>Descripcion</strong> de la habitación
                </mat-error>
              </mat-form-field>
            </form>
  
            
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Precio</mat-label>
                <input type="text" matInput [formControl]="precio" placeholder="Ex. XDDDDD" [errorStateMatcher]="matcher">
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                <span matPrefix>¢</span>
                <mat-error *ngIf="precio.hasError('maxlength') || precio.hasError('minlength')">
                  Ingrese una <strong>Descripción</strong> valida
                </mat-error>
                <mat-error *ngIf="precio.hasError('required')">
                  Ingrese a  <strong>Descripcion</strong> de la habitación
                </mat-error>
              </mat-form-field>
            </form>

            <div>
                <label id="ley">Ley 7600</label>
                <mat-radio-group aria-label="Select an option" aria-labelledby="ley" [(ngModel)]="ley7600"><br>
                  <mat-radio-button value="true">Sí</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
  
              <!-- <mat-form-field class="example-full-width">
                <mat-label>Descripción</mat-label>
                <textarea type="text" matInput placeholder="Ex. uuuuuuu"></textarea>
              </mat-form-field> -->
  
            <button mat-flat-button color="primary" (click)="crearHabitacion()">Aceptar</button>
      </div>